<header class="navbar">
  <div class="navbar-left">
    <a routerLink="/" class="brand">🎵 Cloud Music</a>
  </div>

  <nav class="navbar-links">
    <a routerLink="/discover" routerLinkActive="active">Discover</a>
    <a routerLink="/content" routerLinkActive="active">All music</a>
    <a routerLink="/subscriptions" routerLinkActive="active">My subscriptions</a>
  </nav>
  <div class="nav-right">
    <app-notifications-bell></app-notifications-bell>

    <ng-container *ngIf="auth.isAuthenticated(); else loggedOut">
      <button class="btn secondary" (click)="logout()">Logout</button>
    </ng-container>

    <ng-template #loggedOut>
      <a routerLink="/login" class="btn">Login</a>
    </ng-template>
  </div>
</header>
